/* .logo {
  display: flex;
  align-items: center;
} */

.logo p {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  margin: 0;
}

.navbar {
  border-bottom: 2px solid purple;
  box-shadow: 10px -10px 18px 9px;
  padding: 0px;
  z-index: 10;
}
.navbtn a {
  color: purple;
  padding: 10px;
  font-family: math;
  text-decoration: none;
  border: none;
  margin-right: 10px;
  border-radius: 10px;
}
.navbtn a:hover {
  background-color: #e7e7e7;
}

@media only screen and (max-width: 425px) {
  .logo img{
    
  }
}